<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aimilvusweb.repository.ReportChunkMapper">

    <insert id="insert" parameterType="com.example.aimilvusweb.entity.ReportChunk" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO report_chunk(report_id, chunk_index, chunk_uid, chunk_text, page_number, created_at)
        VALUES(#{reportId}, #{chunkIndex}, #{chunkUid}, #{chunkText}, #{pageNumber}, #{createdAt})
    </insert>

</mapper>
